/* Media */
@page {
	size: A0 portrait;
}

@media screen {
	body {
		background: #eeeeee;
	}

	#page {
		width: 841mm;
		height: 1189mm;
		background: #ffffff;
		display: block;
		margin: 2em auto 2em auto;
		position: relative;
		box-shadow: 0 0 2em 0 rgba(0,0,0,0.9);
	}
}

@media print {
	body, #page {
		margin: 0;
	}
}

/* Typography */
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

/* KU Header */
#ku {
	border-bottom: 1mm solid #000000;
	height: 70mm;
	padding: 40mm;
}

#ku_logo {
	display: block;
	height: 135mm;
	position: absolute;
	right: 40mm;
	top: 25mm;
}

#ku h1, #ku h2 {
	color: #666666;
	font-family: 'Adobe Garamond Pro', 'EB Garamond', serif;
	font-weight: 400;
	letter-spacing: 0.25em;
	line-height: 1.5;
	margin: 0;
	max-width: 80%;
	padding: 0;
	text-transform: uppercase;
}
#ku h1 { font-size: 36pt; }
#ku h2 { font-size: 30pt; }



/* layout */

section {
	padding: 20mm 40mm 20mm 40mm;
	margin:0;
}

	/* abstract */

	#abstract h1 {
			font-weight: 800;
			font-size: 64pt;
			column-span: all;
			margin-bottom:100px;
	}

	#abstract {
		column-count: 2;
		-moz-column-fill: balanced; /* Firefox */
		column-fill: balanced;
		column-gap: 2em;
	}

	#abstract p {
		font-style:italic;
		font-weight: 200;
		font-size: 24pt;
		margin-top:0;
	}


	#content{
		height:600mm;
	}


/* boxes */



div.box {
	overflow:hidden;
	padding:15mm;
	border: none;
	position:absolute;
	text-align:center;
	background-position: top center;
	background-repeat: no-repeat;
}

div.box .text{
	max-width:200mm;
	margin:auto;
}

div.box img{
	width: 60%;
	display:inline-block;
	margin:5mm;

	/*findme: temp*/
	border:solid grey 5px;
}

div.sub-box {
	font-weight: 100;
	font-size:18pt;
}

div.sub-box h2{
	font-size: 22pt;
}



#front_end {
	width:300mm;
	height:540mm;
	left:255mm;
	top: 480mm;
	background-image:url('images/front_end.png');
	background-size: 80%;
	padding-top:150mm;
	z-index:5000;

}

#front_end img{
	height: 100mm;
}

#data_entry {
	width: 400mm;
	height: 280mm;
	left:40mm;
	top: 390mm;
	background-image:url('images/data_entry.jpg');
	background-size: 100%;
}

#data_entry .text{
	margin-left: 40mm;
	margin-top: 30mm;
	width: 130mm;
}

#structure {
	width: 290mm;
	height: 240mm;
	left:520mm;
	top: 740mm;
	background-image:url('images/structure.jpg');
	background-size: 100%;
}

#structure .text{
	width: 80mm;
	margin-top: -10mm;
	margin-left: 130mm;
}

#other_views {
	width: 400mm;
	height: 250mm;
	left:440mm;
	top: 370mm;
	background-image:url('images/other_views.jpg');
	background-size: 80%;

/*findme: temp*/
	border: none;
}

#other_views .text{
	margin-top:80mm;
	width: 100mm;
	margin-left: 190mm;
}

#metadata {
	width: 150mm;
	height: 100mm;
	left:265mm;
	top: 870mm;
}

#expendible {
	width: 390mm;
	height: 340mm;
	top: 650mm;
	left: 40mm;
	background-image:url('images/expendible.jpg');
	background-size: 80%;
	background-position: left;
}

#expendible .text {
	position:absolute;
	bottom:45mm;
	width:75mm;
	left:8mm;
}



#filtered {
	width: 400mm;
	height: 280mm;
	left:20mm;
	top: 620mm;
	/*background-image:url('images/data_entry.jpg');
	background-size: 100%;*/
	z-index:800;
}

#filtered .text{
	margin-left: 30mm;
	margin-top: 40mm;
	width: 120mm;
}



/* footer */

footer {
	border-top: 1mm solid #000000;
	color: #333333;
	display: grid;
	font-size: 18pt;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20mm;
	height: 110mm;
	padding: 20mm 40mm;
	position: absolute;
	bottom: 0;
	width: 761mm;
}

footer #logos { grid-column: 2; }
footer #acknowledgements { grid-column: 1; columns: 2; column-gap: 10mm; }
footer #authors { grid-column: 3; }

footer h2 {
	margin: 0;
	padding: 0;
}


#logos img {
	display: block;
	margin: 0 auto;
}

#logos figure {
	color: #666666;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
	height: 65mm;
	letter-spacing: 0.2em;
	margin: 20mm 0 0 0;
	text-align: center;
	text-transform: uppercase;
}

#davids_logo {
	height: 25mm;
}

#cseas_logo {
	height: 40mm;
}

#acknowledgements {
	text-align: left;
}

#acknowledgements img {
	display: block;
	margin: 0 auto;
	width: 40mm;
}

#authors {
	text-align: right;
}

.author {
	clear: right;
}

#authors img {
	width:40mm;
	clear: right;
	float: right;
	min-height: 30mm;
	margin: 0 0 3mm 5mm
}

#authors h2 {
	font-size: 18pt;
	text-transform: uppercase;
}

#authors p, #authors ul {
	font-size: 18pt;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#authors li {
	font-size: 14pt;
	margin: 0;
	padding: 0;
}
